<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="AgentPreviewPayload" Directory="INSTALLFOLDER">
      <Component Guid="*" Win64="$(var.ComponentWin64)">
        <File Id="PreviewSshAgent" Source="$(var.PayloadRoot)\ssh-agent.exe"
            Name="ssh-agent.exe" KeyPath="yes" />
        <!-- Release the running agent before its files are removed, also when
             an upgrade removes the previous version. Installation does not
             stop the service here: the service custom action records its
             original state first. -->
        <ServiceControl Id="StopAgentOnRemove" Name="ssh-agent"
            Stop="uninstall" Wait="yes" />
      </Component>
      <Component Guid="*" Win64="$(var.ComponentWin64)">
        <File Source="$(var.PayloadRoot)\ssh-pkcs11-helper.exe"
            Name="ssh-pkcs11-helper.exe" KeyPath="yes" />
      </Component>
      <Component Guid="*" Win64="$(var.ComponentWin64)">
        <File Source="$(var.PayloadRoot)\ssh-add.exe"
            Name="ssh-add-pkcs11.exe" KeyPath="yes" />
      </Component>
      <Component Guid="*" Win64="$(var.ComponentWin64)">
        <File Source="$(var.PayloadRoot)\libcrypto.dll"
            Name="libcrypto.dll" KeyPath="yes" />
      </Component>
      <Component Guid="*" Win64="$(var.ComponentWin64)">
        <File Source="$(var.InstallerRoot)\Manage-OpenSSHPkcs11AgentService.ps1"
            Name="Manage-OpenSSHPkcs11AgentService.ps1" KeyPath="yes" />
      </Component>
      <Component Guid="*" Win64="$(var.ComponentWin64)">
        <File Source="$(var.InstallerRoot)\OpenSSHPkcs11AgentInstaller.psm1"
            Name="OpenSSHPkcs11AgentInstaller.psm1" KeyPath="yes" />
      </Component>
      <Component Guid="*" Win64="$(var.ComponentWin64)">
        <File Source="$(var.InstallerRoot)\README.txt"
            Name="README.txt" KeyPath="yes" />
      </Component>
      <Component Guid="*" Win64="$(var.ComponentWin64)">
        <File Source="$(var.SourceRoot)\LICENCE"
            Name="LICENSE.txt" KeyPath="yes" />
      </Component>
      <Component Guid="*" Win64="$(var.ComponentWin64)">
        <File Source="$(var.SourceRoot)\NOTICE"
            Name="NOTICE.txt" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
